.box{
  text-align: center;
  width: 400px;
  margin:0 auto;
}

.flex-box{
  display: flex;
}
.left-col{
  width: 75%;

}
.operation-number-panel{
}
.left-col button{
padding: 15px 0;
 display: inline-block;
 width: 33.3%;
 
}
.operation-button-panel{
  width: 25%;
 
}
.history-button {
  width: 66.6% !important;
}
.operation-button-panel button{
  display: block;
  width: 100%;
  padding: 15px 0;


}
.main-display{

  background-color:  rgb(230, 240, 239);
  color: whitesmoke;
  height: 57px;
  padding-left: 150px;
}

.history-display {

  background-color: rgb(230, 240, 239);
  color: #282c34;
  height: 57px;
  padding-left: 150px;
}
